body {
    background-color: #C4C4C4;
}

header {
    background-color: #ffffff;
    height: 50px;
    width: 100%;
}

main {
    display: flex;
}

.card {
    background-color: #ffffff;
    width: 300px;
    padding: 1em;
    margin: 2em;
}

.card__img-top {
    width: 288px;
    height: 182px;
    margin-bottom: 1rem;
}

.card__title {
    font-size: 14px;
    color: #282828;
}

.card__description {
    font-size: 12px;
    color: #282828;

}

footer {
    background-color: #ffffff;
    height: 50px;
    width: 100%;
}